
  <nav class="navbar navbar-transparent bg-dark navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <img src="../../assets/output-onlinepngtools (6) 1.png" style="width: 150px; height: 24px;"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              Projects
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tutorials" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              Tutorials
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              About Us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <button type="button" class="btn" style="background: rgb(12,1,108);
                background: linear-gradient(135deg, rgba(12,1,108,1) 0%, rgba(177,1,247,1) 100%);">Contact Us</button>
            </a>
          </li>
          

        </ul>
      </div>
    </div>
  </nav>