.active {
    color: #00bcd4 !important;
}
@media (max-width: 991px) {
.navbar-collapse::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #212121 !important;
    display: block;
    content: "";
    z-index: 1;
}
}
@media (max-width: 991px) {
.navbar-collapse .navbar-nav .nav-item .nav-link {
    color: white;
    margin: 5px 15px;
}
}