
  <nav class="navbar navbar-transparent bg-dark navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <img src="../../assets/output-onlinepngtools (2) 1.png" style="width: 150px; height: 24px;"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              Home
            </a>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" >
              <i class="material-icons">apps</i> Projects
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="dropdown-item">
                <i class="material-icons">layers</i> View All
              </a>
              <a routerLink="/projects/aquadrone" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="dropdown-item">
                <i class="material-icons">layers</i> Aquadrone
              </a>
              <a routerLink="/projects/lisaRobot" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="dropdown-item">
                <i class="material-icons">layers</i> Lisa Robot
              </a>
              <a routerLink="/projects/robotractor" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="dropdown-item">
                <i class="material-icons">layers</i> Robotractor
              </a>
            </div>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons">apps</i> Tutorials
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a routerLink="/tutorials" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="dropdown-item">
                <i class="material-icons">content_paste</i> View All
              </a>
              <a routerLink="/tutorials/arduino" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="dropdown-item">
                <i class="material-icons">content_paste</i> Arduino
              </a>
              <a routerLink="/tutorials/howtofly" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="dropdown-item">
                <i class="material-icons">content_paste</i> How To Fly A Drone
              </a>
              <a routerLink="/tutorials/robot-os" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="dropdown-item">
                <i class="material-icons">content_paste</i> Robot Operating System
              </a>
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              About Us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="getDiv()">
                <button type="button" class="btn" style="background: rgb(12,1,108);
                background: linear-gradient(135deg, rgba(12,1,108,1) 0%, rgba(177,1,247,1) 100%);">Contact Us</button>
            </a>
          </li>
          

        </ul>
      </div>
    </div>
  </nav>