<div class="profile-page sidebar-collapse">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../../../assets/94618559_10219671513371454_8782622677622849536_n.jpg')"></div>
    <div class="main main-raised">
      <div class="profile-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
              <div class="profile">
                <div class="avatar">
                  <img src="../../../assets/LISA.png" alt="Circle Image" class="rounded-circle img-fluid">
                </div>
                <div class="name">
                  <h3 class="title">LISA Robot</h3>
                  <h6>Logistic Indoor Service Assistant</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="description text-center">
            <p>The LISA robot or Logistic Indoor Service Assistant robot was developed primary as an immediate response to COVID19 pandemic. The first versions of the robot were radio controlled and capable of delivering food and medicines. The Department of Science and Technology- Philippine Council for Health Research and Development (DOST-PCHRD) took notice of the simple and effective technology and will fund the development of the fully automated version. This will be in partnership with different private and public hospitals in the country.

          </p>
          </div>
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
              <div class="profile-tabs">
                <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                      <i class="material-icons">camera</i> Images
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                      <i class="material-icons">video_call</i> Videos
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-content tab-space">
            <div class="tab-pane active text-center gallery" id="studio">
              <div class="row">
                <div class="col-md-3 ml-auto">
                  <img src="../../../assets/lisa1 (1).jpg" class="rounded">
                  <img src="../../../assets/lisa1 (2).jpg" class="rounded">
                  
                </div>
                <div class="col-md-3 mr-auto">
                    <img src="../../../assets/lisa1 (3).jpg" class="rounded">
                    <img src="../../../assets/107104815_10220407608813380_7445453785603574087_n.jpg" class="rounded">
                  
                </div>
              </div>
            </div>
            <div class="tab-pane text-center gallery" id="works">
              <div class="row">
                <div class="col-md-3 ml-auto">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/48OJbbI0DfE" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-3 mr-auto">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/48OJbbI0DfE" allowfullscreen></iframe>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer footer-default">
      <div class="container">
        <nav class="float-left">
          <ul>
            <li>
              <a href="#">
                Home
              </a>
            </li>
            <li>
              <a href="#">
                Projects
              </a>
            </li>
            <li>
              <a href="#">
                Tutorials
              </a>
            </li>
            <li>
              <a href="#">
                About Us
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right">
          &copy;
          <script>
            document.write(new Date().getFullYear())
          </script>, made with <i class="material-icons">favorite</i> by
          <a href="https://www.creative-tim.com/" target="_blank">Creative Tim</a> for a better web.
        </div>
      </div>
    </footer>
    </div>