<div class="profile-page sidebar-collapse">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../../../assets/94618559_10219671513371454_8782622677622849536_n.jpg')"></div>
    <div class="main main-raised">
      <div class="profile-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
              <div class="profile">
                <div class="avatar">
                  <img src="../../../assets/Robotractor.png" alt="Circle Image" class="rounded-circle img-fluid">
                </div>
                <div class="name">
                  <h3 class="title">ROBOTractor Project</h3>
                  <h6>GPS Guided Hand Tractor</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="description text-center">
            <p>The primary objective of the Robotractor project is to develop a robotic platform that will convert ordinary hand tractor to operate autonomously without the need for our local farmer to operate it manually up and down the field.  This project was funded by Philippine Council for Agriculture, Aquatic and Natural Resources Research DOST-PCAARRD and in partnership with the Philippine rice research institute or PhiRice and International rice research institute or IRRI. This will be the first GPS guided hand tractor in our country.
          </p>
          </div>
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
              <div class="profile-tabs">
                <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                      <i class="material-icons">camera</i> Images
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                      <i class="material-icons">video_call</i> Videos
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-content tab-space">
            <div class="tab-pane active text-center gallery" id="studio">
              <div class="row">
                <div class="col-md-3 ml-auto">
                  <img src="../../../assets/robo1 (1).jpg" class="rounded">
                  
                </div>
                <div class="col-md-3 mr-auto">
                  <img src="../../../assets/robo1 (2).jpg" class="rounded">
                </div>
              </div>
            </div>
            <div class="tab-pane text-center gallery" id="works">
              <div class="row">
                <div class="col-md-3 ml-auto">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/48OJbbI0DfE" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-3 mr-auto">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/48OJbbI0DfE" allowfullscreen></iframe>
                    </div>
                </div>
              </div>
            </div>
            <div class="tab-pane text-center gallery" id="favorite">
              <div class="row">
                <div class="col-md-3 ml-auto">
                  <img src="../assets/img/examples/mariya-georgieva.jpg" class="rounded">
                  <img src="../assets/img/examples/studio-3.jpg" class="rounded">
                </div>
                <div class="col-md-3 mr-auto">
                  <img src="../assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                  <img src="../assets/img/examples/olu-eletu.jpg" class="rounded">
                  <img src="../assets/img/examples/studio-1.jpg" class="rounded">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer footer-default">
      <div class="container">
        <nav class="float-left">
          <ul>
            <li>
              <a href="#">
                Home
              </a>
            </li>
            <li>
              <a href="#">
                Projects
              </a>
            </li>
            <li>
              <a href="#">
                Tutorials
              </a>
            </li>
            <li>
              <a href="#">
                About Us
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right">
          &copy;
          <script>
            document.write(new Date().getFullYear())
          </script>, made with <i class="material-icons">favorite</i> by
          <a href="https://www.creative-tim.com/" target="_blank">Creative Tim</a> for a better web.
        </div>
      </div>
    </footer>
    </div>